.btn, .btn-outline {
  background-color: black;
  color: #ffff;
  border: none;
  padding: 16px 35px;
  border-radius: 500px;
  cursor: pointer;
  font-size: 13px;
  font-family: Helvetica;
  text-transform: uppercase;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #ffff;
}

@media (max-width:500px) {
  .btn, .btn-outline {
      padding: 10px 20px;
      text-wrap: nowrap;
  }
}
